<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>username</param-name>
        <param-value>Tom</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>

    <filter>
        <filter-name>filterDemo</filter-name>
        <filter-class>org.shancm.webcase.filtercase.FilterDemo</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterDemo</filter-name>
        <url-pattern>/filter.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filterDemo2</filter-name>
        <filter-class>org.shancm.webcase.filtercase.FilterDemo2</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterDemo2</filter-name>
        <url-pattern>/filter.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>usernameFilter</filter-name>
        <filter-class>org.shancm.webcase.filtercase.UsernameFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>usernameFilter</filter-name>
        <url-pattern>/login.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>passwordFilter</filter-name>
        <filter-class>org.shancm.webcase.filtercase.PasswordFilter</filter-class>
        <init-param>
            <param-name>passwords</param-name>
            <param-value>123456</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>passwordFilter</filter-name>
        <url-pattern>/login.do</url-pattern>
    </filter-mapping>

    <!--servlet-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.jdbc.mysql.Driver</param-value>
    </context-param>

    <context-param>
        <param-name>url</param-name>
        <param-value>org.shancm.webcase</param-value>
    </context-param>

    <servlet>
        <servlet-name>demoServlet</servlet-name>
        <servlet-class>org.shancm.webcase.servletcase.ServletDemo</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>12345</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>




    <!--session-->
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>org.shancm.webcase.cookiecase.CookieDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>lastView</servlet-name>
        <servlet-class>org.shancm.webcase.cookiecase.LastViewDemo</servlet-class>
    </servlet>





    <servlet-mapping>
        <servlet-name>demoServlet</servlet-name>
        <url-pattern>/demo.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>lastView</servlet-name>
        <url-pattern>/lastView.do</url-pattern>
    </servlet-mapping>



</web-app>
